@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    font-family: Roboto, sans-serif;
}

.header-exp {
    background-color: #1F2937;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    margin: 15px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
}

.header-logo {
    height: 50px;
    width: 50px;
    background-color: white;
}

.header-links {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 15px;
}

.header-links a {
    color: #E5E7EB;
    text-decoration: none;
}

.hero {
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
}

.welcome {
    align-self: top;
    margin-right: 20px;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    padding: 0;
    margin: 0;
}

.hero-text {
    color: #E5E7EB;
}

.sign-up {
    background-color: #3882F6;
    color: #E5E7EB;
    font-weight: 900;
    padding: 5px 20px;
    border-radius: 5px;
    border: 0;
}

.hero-image {
    height: 400px;
    width: 600px;
    background-color: white;
    margin-bottom: 10px;
}

.card-section {
    margin: 100px;
}

h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
    margin-top: -50px;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card-image {
    height: 200px;
    width: 200px;
    border: 3px solid #3882F6;
    margin: 20px;
    border-radius: 15px;
}

.card-subtext {
    width: 200px;
    text-align: center;
    margin: 20px;
    margin-top: -15px;
}

.quote-wrapper {
    background-color: #E5E7EB;
}

.quote-container {
    display: flex;
    flex-direction: column;
    margin: 100px;
    padding-left: 150px;
    padding-right: 150px;
}

.quote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937
}

.quote-author {
    font-weight: 900;
    align-self: flex-end;
}

.bottom-signup {
    margin: 100px;
}

.bottom-signup-container {
    background-color: #3882F6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    padding: 50px;
}

h3 {
    color: #E5E7EB;
    padding: 0px;
    margin: 0px;
}

.bottom-signup-text {
    color: #E5E7EB;
    padding: 0px;
    margin: 0px;
}

.sign-up.second {
    border: 2px solid #E5E7EB;
}

.footer-wrapper {
    background-color: #1F2937;
}

.footer {
    display: flex;
    align-items: center;
    margin: 10px;
    justify-content: center;
    font-size: 18px;
    color: #E5E7EB;
}